
* {
	box-sizing: border-box;
}

body {

}

body, html {
	width: 100%;
	font-size: $fontBase;
	font-family: 'Average', serif;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-family: $headerFont;
}

h1 {
	margin: 0 auto;
	min-width: $step5 + em;
	color: $grey;
	text-align: center;
	padding: $step-1 + em 0 0;
	text-transform: uppercase;
	text-shadow: 1.2px 1.2px 0px darken($pink, 16);
}

a {
	text-decoration: none;
	color: $linkColor;
}

p {
	margin: 0;
	padding: $step2 + em $step1 + em;
}

.button {
	display: block;
	font-family: sans-serif;
	background-color: $grey;
	color: $dark;
	font-size: $step2 + em;
	border: none;
	border-radius: 5px;
	margin: $step-2 + em $step1 + rem $step-1 + em;
	padding: $step-1 + em $step2 + em;
	box-shadow: 2.6px -2.6px 0.6px 0px darken($pink, 16),
				-2.6px 2.6px 0.6px 0px darken($pink, 16),
				2.6px 2.6px 0.6px 0px darken($pink, 16),
				-2.6px -2.6px 0.6px 0px darken($pink, 16),
				0px 9px 5px -5px darken($pink, 16);
		&:after {
			// display: inline-block;
			content: '';
			width: $step3 + rem;
			box-shadow: 5px 2px 5px 0px darken($pink, 16);
			transform: rotate(4.5deg);
		}
}

header {
	background-color: $dark;
	overflow: hidden;
		nav {
			margin: 0 auto;
			display: none;
				ul {
					width: 100%;
					margin: 0;
					list-style: none;
					overflow: hidden;
					padding: 0;
						li {
							float: left;
							width: 100%;
							margin: 0 auto;
							text-align: center;
							padding: $step-2 + em 0;
							border: 2px solid $light;
							box-shadow: inset 0px 0px 10px 0px $grey;
							transition: all 0.3s ease;
								&:hover, &:active {
									background-color: $purple;
								}
								&:not(:first-of-type) {
									border-top: none;
								}
								// &:last-of-type {
								// 	border-top: none;
								// }
								a {
									display: inline-block;
									width: 100%;
									text-decoration: none;
									color: $linkColor;
									font-size: $step2 + em;
									font-family: $headerFont;
								}
						}
				}
		}
}

.left {
	float: left;
}

.right {
	float: right;
}

.amp {
	font-family: 'Average', serif;
	vertical-align: text-top;
}

.sections {
	overflow: hidden;
		p {
			max-width: 68em;
			margin: 0 auto;
		}
		h2 {
			font-size: $step3 + em;
			text-align: center;
			margin-top: $step-2 + em;
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: $step-1 + em;
					border-top: 2px dotted $grey;
					margin-right: $step-2 + em;
				}
				&:after {
					content: '';
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: $step-1 + em;
					border-top: 2px dotted $grey;
					margin-left: $step-2 + em;
				}
		}
}

#firstSection {
	background-color: $pink;
}

#secondSection {
	background-color: $purple;
	color: $light;
		.pointerDowner:after {
			border-color:  $pink transparent transparent transparent;
		}
		h2 {
			text-shadow: 	0.5px 0.5px 0px darken($purple, 6),
							0.75px 1.5px 0px darken($purple, 6),
							1.25px 2px 0px darken($purple, 6),
							2px 3px 0px darken($purple, 6);
		}
}

#thirdSection {
	background-color: darken($grey, 6);
		.pointerDowner:after {
			border-color:  $purple transparent transparent transparent;
		}
		h2 {
			color: $dark;
			text-shadow: 	0.5px 0.5px 0px darken($grey, 16),
							0.75px 1.5px 0px darken($grey, 16),
							1.25px 2px 0px darken($grey, 16),
							2px 3px 0px darken($grey, 16);
				&:before {
					border-color: $dark;
				}
				&:after {
					border-color: $dark;
				}
		}
}

.pointerDowner {
	width: 0px;
	margin: 0 auto;
		&:after {
			display: inline-block;
			content: '';
			border: $step3 + em solid;
			position: relative;
			left: -$step3 + em;
			margin-bottom: -$step3 + em;
		}
}

#hwrap {
	text-align: center;
		h3 {
			margin: $step-1 + em;
			text-shadow: 0.6px 1.4px 0px darken($pink, 16);
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: $step2 + em;
					border-top: 2px dotted $grey;
					margin-right: $step-2 + em;
				}
				&:after {
					content: '';
					display: inline-block;
					position: relative;
					vertical-align: middle;
					width: $step2 + em;
					border-top: 2px dotted $grey;
					margin-left: $step-2 + em;
				}
		}
}

#wpStamp {
	// opacity: 0.6;
	width: $step5 + rem;
	margin: $step2 + rem $step1 + rem $step-1 + rem $step-1 + rem;
	background-color: $pink;
	border-radius: 50%;
	animation-duration: 30s;
	animation-name: wpColorStamp;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

@keyframes wpColorStamp {
	from {
		background-color: lighten($pink, 6);
		box-shadow: 0px 0px 0px 0px darken($pink, 16);
	}
	25% {
		background-color: $pink;
	}
	50% {
		background-color: darken($pink, 6);
	}
	75% {
		background-color: darken($pink, 14);
	}
	to {
		background-color: darken($pink, 30);
		box-shadow: 0px 0px 6px 0px darken($pink, 16);
	}
}

.icon-reorder {
	color: $grey;
	font-size: $step3 + em;
	margin: 0 $step-1 + em;
	float: right;
	transition: opacity 0.4s ease;
		&:hover {
			cursor: pointer;
		}
}