

		// COLORS

$purple: #680148;
$pink: #7DB4B5;
$dark: #2C2C2C;
$grey: #E0EFF1;
$light: #ECECEC;

$black: #252525;
$white: #FFFFFF;

$linkColor: $light;
$headerColor: $dark;

		// FONTS

$fontBase: 16px;

$bodyFont: 'CharisSILRegular', serif;
$scriptFont: 'LoversQuarrelRegular', sans-serif;
$headerFont: 'neutonregular', serif;

		// MATEN

$scale: 1.618;

$step1: 1;
$step2: $scale * $step1;
$step3: $scale * $step2;
$step4: $scale * $step3;
$step5: $scale * $step4;
$step6: $scale * $step5;
$step7: $scale * $step6;
$step-1: $step1 / $scale;
$step-2: $step-1 / $scale;
$step-3: $step-2 / $scale;
$step-4: $step-3 / $scale;
$step-5: $step-4 / $scale;
$step-6: $step-5 / $scale;
$step-7: $step-6 / $scale;

$altstep1: 1.353;
$altstep2: $scale * $altstep1;
$altstep3: $scale * $altstep2;
$altstep4: $scale * $altstep3;
$altstep5: $scale * $altstep4;
$altstep6: $scale * $altstep5;
$altstep7: $scale * $altstep6;
$altstep-1: $altstep1 / $scale;
$altstep-2: $altstep-1 / $scale;
$altstep-3: $altstep-2 / $scale;
$altstep-4: $altstep-3 / $scale;
$altstep-5: $altstep-4 / $scale;
$altstep-6: $altstep-5 / $scale;
$altstep-7: $altstep-6 / $scale;